{% extends 'news/index.html' %}
{% load static %}
{% block mainslder %}
	
	
	<!-- START OF MAIN SLIDER -->
	<section class="bg-primary p-0 pb-xs-20">
		<div class="container">
			<div class="row  ptb-10">
				<div class="col-md-8 col-lg-9">
					<a class="btn-fill-red plr-10 mtb-10 btn-b-md" href="#"><b>BREAKING NEWS</b></a>
					<a class="dplay-inl-block color-grey mtb-10 ml-15 ml-md-0 hover-grey" href="#">8:30 AM Eight People 
						have died and violent protest involving tens of thousands...</a>
				</div><!-- col-md-8 -->
				<div class="col-md-4 col-lg-3">
					<form class="abs-form mtb-10">
						<input type="text" placeholder="Search">
						<button type="submit"><i class="ion-ios-search"></i></button>
					</form>
				</div><!-- col-md-4 -->
			</div><!-- row -->
		</div><!-- container -->
	</section>
	<!-- END OF MAIN SLIDER -->
	

	<section class="pt-30 pb-0">
		<div class="container">
			<div class="row">
			
				<div class="col-md-12 col-lg-12">
					
					<div class="ptb-0">
						<a class="mt-10" href="#"><i class="mr-5 ion-ios-home"></i><b>HOME</b></a>
						<a class="mt-10" href="#"><i class="mlr-10 ion-chevron-right"></i><b>FEATURED</b></a>
						<a class="mt-10 color-ash" href="#"><i class="mlr-10 ion-chevron-right"></i><b>CONTACT</b></a>
					</div>
					
					<div class="p-30 mtb-30 card-view">
						<div class="map-section">
							<div id="map" style="height:400px;width: 100%"></div>
							
							
							
						</div><!-- map-section -->
							
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section>
	

	<section class="pt-0 pb-20">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-8">
					<div class="p-30 mb-30 card-view">
						<h4 class="p-title"><b>GET IN TOUCH</b></h4>
						<form>
							<div class="row">
								<div class="col-sm-6">
									<input class="mb-30" type="text" placeholder="Your name">
								</div><!-- col-sm-6 -->
								<div class="col-sm-6">
									<input class="mb-30" type="text" placeholder="Your email">
								</div><!-- col-sm-6 -->
								<div class="col-sm-12">
									<textarea class="mb-30" placeholder="Your message"></textarea>
								</div><!-- col-sm-12 -->
								
							</div><!-- row -->
							<a class="btn-fill-primary plr-20" href="#"><b>SUBMIT NOW</b></a>
						</form>
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				<div class="col-md-12 col-lg-4">
					
					<div class="p-30 mb-30 card-view">
						<h4 class="p-title"><b>OUR OFFICE</b></h4>
						<ul class="list-contact list-li-mb-20">
							<li><i class="ion-ios-home"></i>SE 3019, Johanesberg, Stocklholm,SE</li>
							<li><a href="#"><i class="ion-ios-telephone"></i>(+88)223-34324-5252</a></li>
							<li><a href="#"><i class="ion-email"></i>Support@ednews.com</a></li>
							<li class="mb-0"><a href="#"><i class="ion-ios-world"></i>www.ednews.com</a></li>
						</ul>
					</div><!-- card-view -->
				</div><!-- col-sm-12 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section>
	
{% endblock mainslder %}